<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar [title]="mode == 'new' ? 'New Ingredient' : 'Edit Ingredient'"
                [backEnabled]="true"
                (backClick)="onBackClick()"
    ></app-navbar>
    <div fxLayout="row" fxLayoutGap="80px" class="p1">
      <div fxLayout="column" fxLayoutGap="10px" style="width: 400px">
        <mat-form-field appearance="outline">
          <mat-label>Ingredient name</mat-label>
          <input matInput [formControl]="name" placeholder="Ex. Tomato" autocomplete="off">
          <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Internal Code</mat-label>
          <input matInput [formControl]="code" placeholder="Ex. MP_123" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Barcode</mat-label>
          <input matInput [formControl]="barcode" placeholder="Ex. 1234567890123456" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline" style="max-width: 150px">
          <mat-label>Unit</mat-label>
          <mat-select [formControl]="unit">
            <mat-option value="KG">Kilograms (kg)</mat-option>
            <mat-option value="PCS">Pieces (pcs)</mat-option>
            <mat-option value="L">Litres (l)</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="20px">
          <app-image-select [(file)]="imgFile" [(initialImg)]="initialImg"></app-image-select>
          <app-color-picker [(color)]="color"></app-color-picker>
          <button fxFlexAlign="start" mat-raised-button color="accent" [disabled]="saveDisabled" (click)="onSaveClick()">Save</button>
        </div>
      </div>
      <div *ngIf="kgSelected" fxLayout="column" fxLayoutGap="10px" style="width: 170px">
        <mat-form-field appearance="outline">
          <mat-label>% of peeling losses</mat-label>
          <input matInput [formControl]="lossClear" autocomplete="off">
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>% of boiling losses</mat-label>
          <input matInput [formControl]="lossBoil" autocomplete="off">
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>% of frying losses</mat-label>
          <input matInput [formControl]="lossFry" autocomplete="off">
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>% of stewing losses</mat-label>
          <input matInput [formControl]="lossStew" autocomplete="off">
          <span matSuffix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>% of baking losses</mat-label>
          <input matInput [formControl]="lossBake" autocomplete="off">
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
      <div *ngIf="pcsSelected" fxLayout="column" fxLayoutGap="25px" style="width: 170px">
        <mat-form-field appearance="outline">
          <mat-label>Deduct from inventory</mat-label>
          <mat-select [formControl]="roundInventory">
            <mat-option [value]="true">Round</mat-option>
            <mat-option [value]="false">Without rounding</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ingredient weight per piece</mat-label>
          <input matInput [formControl]="weightPerPiece" autocomplete="off">
          <span matSuffix>g</span>
        </mat-form-field>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
