<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar title="Packs"
                [addEnabled]="true"
                [columnsEnabled]="true"
                (addClick)="onAddClick()"
                [(columns)]="columns"
    ></app-navbar>
    <table mat-table [dataSource]="dataSource" class="width-100">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let pack"> {{pack.name}} </td>
      </ng-container>
      <ng-container matColumnDef="Unit">
        <th mat-header-cell *matHeaderCellDef> Unit </th>
        <td mat-cell *matCellDef="let pack"> {{pack.unit.toLowerCase()}} </td>
      </ng-container>
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let pack"> {{pack.unitQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let pack">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-icon-button color="primary" (click)="onEditClick(pack)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onDeleteClick(pack)"><mat-icon>delete</mat-icon></button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
