<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar [title]="mode == 'new' ? 'New Customer Group' : 'Edit Customer Group'"
                [backEnabled]="true"
                (backClick)="onBackClick()"
    ></app-navbar>
    <div fxLayout="column" fxLayoutGap="10px" class="p1" style="max-width: 420px">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" autocomplete="off">
        <mat-error>Group name is required</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="12px">
        <mat-form-field appearance="outline" fxFlexAlign="start" fxFlex>
          <mat-label>Loyalty Type</mat-label>
          <mat-select #loyaltyTypeElem [formControl]="loyaltyType">
            <mat-option value="DISCOUNT">Discount system</mat-option>
            <mat-option value="CASH_BACK">Cash-back rewards system</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 128px">
          <mat-label>{{loyaltyTypeElem.value === 'DISCOUNT' ? 'Discount' : 'Bonus Size'}}</mat-label>
          <input matInput [formControl]="discountRate" autocomplete="off">
          <span matSuffix>%</span>
          <mat-error>{{loyaltyTypeElem.value === 'DISCOUNT' ? 'Discount' : 'Bonus Size'}} is required and must be from 0% to 100%</mat-error>
        </mat-form-field>
      </div>
      <button fxFlexAlign="start" mat-raised-button color="accent" [disabled]="saveDisabled" (click)="onSaveClick()">Save</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
