.box-container {
  background-image: linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px);
  background-size: 16px 16px;
}

.config-container {
  width: 250px;
  padding: 12px;
}


