<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar title="Suppliers"
                [printEnabled]="true"
                [exportEnabled]="true"
                [importEnabled]="true"
                [addEnabled]="true"
                [columnsEnabled]="true"
                (addClick)="onAddClick()"
                [(columns)]="columns"
    ></app-navbar>
    <table mat-table [dataSource]="dataSource" class="width-100">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.name}} </td>
      </ng-container>
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.address}} </td>
      </ng-container>
      <ng-container matColumnDef="Phone Number">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.phoneNumber | mask: '+000 (00) 000-00-00' }} </td>
      </ng-container>
      <ng-container matColumnDef="Comment">
        <th mat-header-cell *matHeaderCellDef> Comment </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.comment}} </td>
      </ng-container>
      <ng-container matColumnDef="Amount of Supplies">
        <th mat-header-cell *matHeaderCellDef> Amount of Supplies </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.suppliesAmount}} </td>
      </ng-container>
      <ng-container matColumnDef="Created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.createdAt | date: 'EEE, d MMM y, h:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="Updated">
        <th mat-header-cell *matHeaderCellDef> Updated </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.updatedAt | date: 'EEE, d MMM y, h:mm'}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let supplier">
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-icon-button color="primary" (click)="onEditClick(supplier)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="onDeleteClick(supplier)"><mat-icon>delete</mat-icon></button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
